<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity</title>

    <!-- Link Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Link Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />

    <!-- Link Custom CSS -->
    <link rel="stylesheet" href="dist/app.css">

    <!-- Link Vue.js v2.6.12 -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

    <!-- Vue.js CONTAINER -->
    <div id="root">

        <!-- HEADER -->
        <header :class="{'background-dark-alpha': scrollPosition > 50}">
            <div class="container padding-20">

                <div class="flex flex-row">
                    <!-- HEADER LOGO -->
                <div class="header-logo">
                    <img src="images/avada-charity-logo.png" alt="Avada Charity Logo">
                </div>
                <!-- END HEADER LOGO -->

                <!-- HEADER NAV BAR -->
                <ul>
                    <li v-for="item in navBarLinks">
                        <a :href="item.link" class="text-link">
                            {{ item.name }}
                        </a>
                    </li>
                    <!-- DONATE BTN -->
                    <li>
                        <a class="btn-full" href="#">Donate</a>
                    </li>
                </ul>
                <!-- END HEADER NAV BAR -->
                </div>

            </div>
        </header>
        <!-- END HEADER -->

        <!-- MAIN -->
        <main>

            <!-- JUMBOTRON -->
            <section class="jumbotron text-center text-light">

                <div class="container">
                    <!-- MAIN TITLE -->
                    <h1>Make a difference</h1>

                    <!-- PAYOFF -->
                    <div class="text-subtitle text-light padding-30">
                        As long as poverty, injustice & inequality persist, none of us can truly rest
                    </div>

                    <!-- BUTTONS -->
                    <div class="padding-top-10"> 
                        <a class="btn-border btn-border-white" href="#">Our mission</a>
                        <a class="btn-border btn-border-golden" href="#">Donate now</a>
                    </div>
                </div>

            </section>
            <!-- END JUMBOTRON -->
            
            <!-- ACHIEVEMENTS -->
            <section class="achievements">
                <div class="container">
                    <div class="flex flex-row">
                        <div class="padding-50">
                            <!-- SECTION TITLE -->
                            <h2>Every moment counts</h2>
                            <div class="graphic-divider"></div>
                            <!-- SECTION DESCRIPTION -->
                            <div class="text-body">
                                <p>
                                    Curabitur non mi et turpis pharetra vulputate. Cras consequat, risus nec commodo vehicula, nisi est laoreet leo, ac convallis nisi nibh id velit. Aliquam mattis metus a nisi pretium.
                                </p>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac nibh vestibulum, laoreet ipsum quis, vestibulum nisi. Curabitur non mi et turpis pharetra vulputate. Ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac nibh vestibulum, laoreet ipsum quis, vestibulum nisi.
                                </p>
                                
                                <p>
                                    Curabitur non mi et turpis pharetra vulputate. Cras consequat, risus nec commodo vehicula, nisi est laoreet leo, ac convallis nisi nibh id velit.
                                </p>
                            </div>
                            <!-- SECTION BUTTON -->
                            <a class="btn-full" href="#">Our mission</a>
                        </div>

                        <!-- SECTION VUEJS -->
                        <div class="achievements-background">
                            <ul class="text-center text-light">
                                <li v-for="item in achievements">
                                    <div class="text-title text-light">
                                        <i :class="item.icon"></i> {{ item.number }}                                                          
                                    </div>
                                    <div class="text-subtitle text-light">{{ item.name }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END ACHIEVEMENTS -->

            <!-- VALUES -->
            <section class="values">
                <div class="container padding-100">

                    <div class="text-center">
                        <h2 class="text-light">Our Values</h2>
                        <div class="graphic-divider"></div>
                        <div class="text-subtitle text-light">Think Big. Act Bigger.</div>
                    </div>

                    <ul class="flex flex-row padding-50">
                        <li v-for="item in values" class="text-center">
                            <div><i class="icon text-gold padding-bottom-10" :class="item.icon"></i></div>
                            <div class="text-subtitle text-light">{{ item.name }}</div>
                            <div class="text-body text-light padding-20">{{ item.description }}</div>
                            <a class="btn-full" :href="item.link">Learn more</a>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- END VALUES -->

            <!-- RECENT CAUSES -->
            <section class="recent-causes">
                <div class="container padding-100">

                    <div class="text-center">
                        <h2>Recent Causes</h2>
                        <div class="graphic-divider"></div>
                        <div class="text-subtitle">We run projects in over 30 countries in 5 continents</div>
                    </div>

                    <ul class="flex flex-row padding-top-50">
                        <li v-for="item in recentCauses">
                            <img :src="'images/' + item.link" :alt="item.alt">
                        </li>
                    </ul>
                    
                </div>

                <div class="background-red padding-50 text-center">
                    <h3 class="text-light">View all our causes</h3>
                </div>
            </section>
            <!-- END RECENT CAUSES -->

            <!-- LATEST ARTICLES -->
            <section class="latest-articles">
                <div class="container-small padding-100">

                    <div class="text-center">
                        <h2>Latest Articles</h2>
                        <div class="graphic-divider"></div>
                        <div class="text-subtitle">Together we make all the difference</div>    
                    </div>

                    <div class="padding-50">
                        <ul class="flex flex-column">
                            <li
                                v-for="(item, index) in featuredArticles"
                                @click="swapArticle(index)"
                                :key="item.id"
                                :class="{'featured-article': index == 0}"
                            >
                                <img :src="'images/' + item.link" :alt="item.name">
    
                                <div class="article-info">
                                    <div class="text-subtitle text-gold">{{ item.name }}</div>
                                    <div class="text-body">{{ item.description }}</div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="background-red text-center padding-10">
                        <h3 class="text-light">View all our articles</h3>
                    </div>

                </div>
            </section>
            <!-- END LATEST ARTICLES -->

        </main>
        <!-- END MAIN -->

        <!-- FOOTER -->
        <footer>

            <!-- FOOTER JUMBO -->
            <div class="footer-jumbo padding-100">
                <div class="container">

                    <div class="text-center">
                        <h2 class="text-center">Change a life today</h2>
                        <div class="graphic-divider"></div>
                        <div class="text-subtitle text-light padding-bottom-30">
                            As long as poverty, injustice & inequality persist, none of us can truly rest. It doesn't take much to change a life. Get in touch today and start making the difference.
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <a class="btn-border btn-border-white" href="#">Volunteer</a>
                        <a class="btn-border btn-border-white" href="#">Donate now</a>
                    </div>
                </div>
            </div>
            <!-- END FOOTER JUMBO -->

            <!-- FOOTER LOGO -->
            <div class="footer-logo padding-30 text-center">
                <img src="images/avada-charity-mobile-logo-retina.png" alt="Avada Charity Logo">
            </div>
            <!-- END FOOTER LOGO -->

            <!-- FOOTER COPYRIGHT -->
            <div class="footer-copyright padding-20">
                <div class="text-center">
                    <i class="far fa-copyright"></i>
                    Copyright 2012 - 2020 AVADA THEME BY THEME FUSION | ALL RIGHT RESERVED | POWERED BY WORDPRESS
                </div>

                <ul class="text-center">
                    <li v-for="item in socialMedia">
                        <a :href="item.link">
                            <i :class="item.icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END FOOTER COPYRIGHT -->
            
        </footer>
        <!-- END FOOTER -->

        <!-- Link Custom JS -->
        <script src="dist/app.js"></script>

    </div>
    <!-- END Vue.js CONTAINER -->

</body>
</html>