//=============================================================================
// _common.scss
//=============================================================================
  
//=============================================================================
// 
// -----
// Index:
// -----
//      ** Reset
//      ** Fonts
//      ** Backgrounds
//      ** Containers
//      ** Padding
//      ** Buttons
//      ** Graphics

//=============================================================================
// _common.scss - Reset
//=============================================================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

//=============================================================================
// _common.scss - Fonts
//=============================================================================

body {
    font-family: 'Montserrat', sans-serif;
}

.text-center {
    text-align: center
}

h1 {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0px;
    margin: 0px;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}

p {
    margin: 0px;
    padding: 0px;
}

.text-link {
    @include text-link;

    &:hover {
        @include text-link-hover;
    }

    &:active {
        @include text-link-active;
    }
}

.text-title {
    color: $color-cube-tuna;
    font-size: 36px;
}

.text-subtitle {
    color: $color-cube-tuna;
    font-size: 18px;
}

.text-body {
    color: $color-cube-tuna;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
}

.text-light {
    color: $color-cube-white;
}

.text-dark {
    color: $color-cube-tuna;
}

.text-gold {
    color: $color-cube-goldenrod;
}

//=============================================================================
// _common.scss - Backgrounds
//=============================================================================

.background-red {
    background-color: $color-cube-burnt-sienna;
}

.background-dark-alpha {
    background-color: rgba($color: $color-cube-tuna, $alpha: 0.75);
}

//=============================================================================
// _common.scss - Containers
//=============================================================================

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.container-small {
    max-width: 1000px;
    margin: auto;
    padding: 0 20px;
}

.flex {

    display: flex;

    &-row {
        flex-direction: row;
        align-items: center;
    }

    &-column {
        flex-direction: column;
        justify-content: center;
    }

}

//=============================================================================
// _common.scss - Padding
//=============================================================================

@for $i from 1 through 10 {
    .padding-#{$i * 10} {
        padding: $i * 10px 0;
    }
}

@for $i from 1 through 5 {
    .padding-top-#{$i * 10} {
        padding-top: $i * 10px;
    }
}

@for $i from 1 through 5 {
    .padding-bottom-#{$i * 10} {
        padding-bottom: $i * 10px;
    }
}

//=============================================================================
// _common.scss - Buttons
//=============================================================================

.btn-full {

    @include btn-full;

    &:hover {
        @include btn-full-hover;
    }

    &:active {
        @include btn-full-active;

    }
}

.btn-border {

    @include btn-border;

    &-golden {
        color: $color-cube-goldenrod;
        border: 1px solid $color-cube-goldenrod;

        &:active {
            color: $color-cube-white;
            background-color: $color-cube-goldenrod;
        }
    }

    &-white {
        color: $color-cube-white;
        border: 1px solid $color-cube-white;

        &:active {
            color: $color-cube-goldenrod;
            background-color: $color-cube-white;
        }
    }

    &:hover {
        @include btn-border-hover;
    }

    &:active {
        @include btn-border-active;
    }
}

//=============================================================================
// _common.scss - Graphics
//=============================================================================

.graphic-divider {
    background-color: $color-cube-goldenrod;
    height: 2px;
    width: 150px;
    margin: 30px auto;
}
