//=============================================================================
// _common.scss
//=============================================================================
  
//=============================================================================
// 
// -----
// Index:
// -----
//      ** Reset
//      ** Fonts
//      ** Containers
//      ** Padding
//      ** Buttons

//=============================================================================
// _common.scss - Reset
//=============================================================================

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

//=============================================================================
// _common.scss - Fonts
//=============================================================================

body {
    font-family: 'Montserrat', sans-serif;
}

.text-center {
    text-align: center
}

h1 {
    color: $color-cube-white;
    font-size: 56px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

h2 {
    color: $color-cube-tuna;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    position: relative;
}

h2::before {
    content: "";
    position: absolute;
    background-color: $color-cube-goldenrod;
    width: 150px;
    height: 3px;
    left: 0;
    bottom: -5px;
}

.text-link {
    @include text-link;

    &:hover {
        @include text-link-hover;
    }

    &:active {
        @include text-link-active;
    }
}

.text-subtitle {
    color: $color-cube-white;
    font-size: 18px;
}

.text-body {
    color: $color-cube-tuna;
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.achievements-title {
    color: $color-cube-white;
    font-size: 36px;
    font-weight: 500;
}

.achievements-body {
    color: $color-cube-white;
    font-size: 18px;
    font-weight: 400;
}

//=============================================================================
// _common.scss - Containers
//=============================================================================

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.flex {

    display: flex;

    &-row {
        flex-direction: row;
        align-items: center;
    }

    &-column {
        flex-direction: column;
        justify-content: center;
    }

}

//=============================================================================
// _common.scss - Padding
//=============================================================================

@for $i from 1 through 10 {
    .padding-#{$i * 10} {
        padding: $i * 10px 0;
    }
}

//=============================================================================
// _common.scss - Buttons
//=============================================================================

.btn-full {

    @include btn-full;

    &:hover {
        @include btn-full-hover;
    }

    &:active {
        @include btn-full-active;

    }
}

.btn-border {

    @include btn-border;

    &-golden {
        color: $color-cube-goldenrod;
        border: 1px solid $color-cube-goldenrod;

        &:active {
            color: $color-cube-white;
            background-color: $color-cube-goldenrod;
        }
    }

    &-white {
        color: $color-cube-white;
        border: 1px solid $color-cube-white;

        &:active {
            color: $color-cube-goldenrod;
            background-color: $color-cube-white;
        }
    }

    &:hover {
        @include btn-border-hover;
    }

    &:active {
        @include btn-border-active;
    }
}