//=============================================================================
// _content.scss
//=============================================================================
 
//=============================================================================
// 
// -----
// Index:
// -----
//      ** Jumbotron
//      ** Achievements
//      ** Values
//      ** Recent Causes
//      ** Latest Articles


//=============================================================================
// _header.scss - Header Jumbotron
//=============================================================================

.jumbotron {
    background-image: url(../images/home-page-slider.jpg);
    @include bg-image;
    height: 700px;
    position: relative;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        a {
            margin: 0 5px;
        }
    }
}

//=============================================================================
// _content.scss - Achievements
//=============================================================================

.achievements {

    position: relative;

    .flex {

        .padding-50 {
            width: 65%;
            padding-right: 50px;
            background-color: $color-cube-white;

            .graphic-divider {
                margin: 30px 0;
            }
            
            p {
                padding-bottom: 20px;
            }
        }

        .achievements-background {

            position: absolute;
            z-index: -1;
            right: 0;
            width: 35%;
            height: 100%;
            background-image: url(../images/home-content-bg-1.jpg);
            @include bg-image;

            ul {

                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                li {
                    display: block;
                    padding: 30px 0;
                }
            }
        }
    }
}

//=============================================================================
// _content.scss - Values
//=============================================================================

.values {

    background-image: url(../images/home-content-bg-2.jpg);
    @include bg-image;

    ul {
        li {
            
            padding: 0 10px;

            .icon {
                font-size: 56px;
            }
        }
    }
}

//=============================================================================
// _content.scss - Recent Causes
//=============================================================================

.recent-causes {

    ul {

        li {

            width: 25%;
            padding: 0 10px;

        }
    }
}

//=============================================================================
// _content.scss - Latest Articles
//=============================================================================

.latest-articles {

    .flex {

        height: 500px;
        justify-content: space-between;
        flex-wrap: wrap;

        li {

            width: 50%;

            img {

                float: left;
                height: 100px;
                width: 125px;
            }

            .article-info {
                width: calc(100% - 125px);
                float: left;
                padding-left: 20px;

                .text-subtitle {
                    font-size: 16px;
                }
            }

            .text-body {
                font-size: 12px;
            }
                
            &:hover {
                cursor: pointer;
            }

            &:active {
                transform: scale(0.98);
            }
        }

        .featured-article {

            height: 100%;
            padding-right: 40px;

             img {

                height: 345px;
                float: none;
                width: 100%;
             }

             .article-info {

                float: none;
                width: 100%;
                height: 155px;
                padding: 20px;
                margin-top: -5px;

                box-shadow: 0px 1px 2px 0.1px rgba($color: #000, $alpha: 0.1);

                .text-subtitle {
                    font-size: 18px;
                    padding: 20px 0;
                }
             }
        }
    }
}
