//=============================================================================
// _header.scss
//=============================================================================
 
//=============================================================================
// 
// -----
// Index:
// -----
//      ** Header Logo
//      ** Header Nav Bar
//      ** Header Jumbotron

header {

    background-image: url(../../images/home-page-slider.jpg);
    background-position: center;
    background-size: 100%;
    height: 800px;
    position: relative;
    
    .header-overlay {
        height: 100%;
        background-color: rgba($color: $color-cube-tuna, $alpha: 0.5);
    }

    .flex {
        justify-content: space-between;
    }

//=============================================================================
// _header.scss - Header Logo
//=============================================================================

    .header-logo {
        width: 250px;
    }

//=============================================================================
// _header.scss - Header Nav Bar
//=============================================================================

    .header-nav-bar {
        ul {

            li {
                margin-left: 50px;
                }
            }
        }
    
//=============================================================================
// _header.scss - Header Jumbotron
//=============================================================================

    .header-jumbotron {
        height: 100%;
        
        .flex {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        ul {
            li {
                margin: 0 5px;
            }
        }

    }
}