//=============================================================================
// _header.scss
//=============================================================================
 
//=============================================================================
// 
// -----
// Index:
// -----
//      ** Header Logo
//      ** Header Nav Bar

header {

    background-color: $color-cube-jumbo;

    .flex {
        justify-content: space-between;
    }

//=============================================================================
// _variables.scss - Header Logo
//=============================================================================

    .header-logo {
        width: 250px;
    }

//=============================================================================
// _variables.scss - Header Nav Bar
//=============================================================================

    .header-nav-bar {
        ul {

            li {
                margin-left: 50px;
                }
            }
        }
    

}