//=============================================================================
// _header.scss
//=============================================================================
 
//=============================================================================
// 
// -----
// Index:
// -----
//      ** Header


header {

    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: all 1s;

    .header-logo {
        width: 250px;
    }

    .flex {

        justify-content: space-between;

        ul {

            float: right;
    
            li {
                margin-left: 50px;

                &:hover {
                    @include text-link-hover;
                }

                &:active {
                    @include text-link-active;
                }
                }
        }
    }
}
