//=============================================================================
// _mixins.scss
//=============================================================================
 
//=============================================================================
// 
// -----
// Index:
// -----
//      ** Buttons
//      ** Fonts
//      ** Background

//=============================================================================
// _mixins.scss - Buttons
//=============================================================================

@mixin btn-full {
    padding: 10px 30px;
    background-color: $color-cube-goldenrod;
    border: none;
    transition: all 0.1s;
    // Font
    font-size: 12px;
    text-transform: uppercase;
    color: $color-cube-white;
}

@mixin btn-full-hover {
    cursor: pointer;
}

@mixin btn-full-active {
    color: $color-cube-goldenrod;
    background-color: $color-cube-white;
    transform: scale(0.95);
    cursor: pointer;
}

@mixin btn-border {
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid $color-cube-white;
    transition: all 0.1s;
    // Font
    font-size: 12px;
    text-transform: uppercase;
    color: $color-cube-white;
}

@mixin btn-border-hover {
    cursor: pointer;
}

@mixin btn-border-active {
    cursor: pointer;
}


//=============================================================================
// _mixins.scss - Fonts
//=============================================================================

@mixin text-link {
    color: $color-cube-white;
    text-transform: uppercase;
    font-size: 12px;
    transition: all 0.1s;
}

@mixin text-link-hover {
    color: $color-cube-goldenrod;
    cursor: pointer;
}

@mixin text-link-active {
    color: $color-cube-goldenrod;
    transform: scale(0.95);
    cursor: pointer;
}

//=============================================================================
// _mixins.scss - Background
//=============================================================================

@mixin bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}